---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17VGozK6bLvHx8bURNGsvaJh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_zQGPrRr1mLOGMn9kY1fHLcqH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17VGozK6bLvHx8bURNGsvaJh",
          "object": "event",
          "api_version": "2015-10-16",
          "created": 1453276565,
          "data": {
            "object": {
              "id": "ch_17VGozK6bLvHx8bUMIV7chvK",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": "txn_17VGozK6bLvHx8bUbnbhyRrG",
              "captured": true,
              "created": 1453276565,
              "currency": "usd",
              "customer": "cus_7kmNk9Zw15oi4B",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": "in_17VGozK6bLvHx8bUBVjff7fx",
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": true,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17VGozK6bLvHx8bUMIV7chvK/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17VGoxK6bLvHx8bUD0T2WlUc",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7kmNk9Zw15oi4B",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2019,
                "fingerprint": "faS4loXvHw0MNPP7",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "statement_descriptor": null,
              "status": "succeeded"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_7kmN02UKm5qR2w",
          "type": "charge.succeeded"
        }
  recorded_at: Thu, 28 Jan 2016 05:13:37 GMT
recorded_with: VCR 3.0.0
