---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=base&source=tok_17VIZTK6bLvHx8bUXaXmDiKL
    headers:
      Authorization:
      - Bearer sk_test_zQGPrRr1mLOGMn9kY1fHLcqH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7koBBmNlRTOAK8",
          "object": "customer",
          "account_balance": 0,
          "created": 1453283293,
          "currency": "usd",
          "default_source": "card_17VIZTK6bLvHx8bUNHNXsbcA",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17VIZTK6bLvHx8bUNHNXsbcA",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7koBBmNlRTOAK8",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "faS4loXvHw0MNPP7",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7koBBmNlRTOAK8/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7koBkM7csw8ZJM",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1455961693,
                "current_period_start": 1453283293,
                "customer": "cus_7koBBmNlRTOAK8",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1453191080,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1453283293,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7koBBmNlRTOAK8/subscriptions"
          }
        }
  recorded_at: Wed, 20 Jan 2016 09:48:13 GMT
recorded_with: VCR 3.0.0
