---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Register+fee+for+salus%40example.com&source=tok_17PSJNK6bLvHx8bUVEz7eH42
    headers:
      Authorization:
      - Bearer sk_test_zQGPrRr1mLOGMn9kY1fHLcqH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17PSJOK6bLvHx8bUR5ocHF2w",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17PSJOK6bLvHx8bUuVMG7ANF",
          "captured": true,
          "created": 1451890766,
          "currency": "usd",
          "customer": null,
          "description": "Register fee for salus@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17PSJOK6bLvHx8bUR5ocHF2w/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17PSJNK6bLvHx8bU9VDxdOfG",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 5,
            "exp_year": 2018,
            "fingerprint": "faS4loXvHw0MNPP7",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 04 Jan 2016 06:59:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=salus%40example.com&plan=base&source=tok_17UvGMK6bLvHx8bUAlsJTEbT
    headers:
      Authorization:
      - Bearer sk_test_zQGPrRr1mLOGMn9kY1fHLcqH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7kQ6vSOWTlXYov",
          "object": "customer",
          "account_balance": 0,
          "created": 1453193695,
          "currency": "usd",
          "default_source": "card_17UvGMK6bLvHx8bUUae93wrC",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "salus@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17UvGMK6bLvHx8bUUae93wrC",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7kQ6vSOWTlXYov",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "faS4loXvHw0MNPP7",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kQ6vSOWTlXYov/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7kQ6Kil01fwNJI",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1455872095,
                "current_period_start": 1453193695,
                "customer": "cus_7kQ6vSOWTlXYov",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1453191080,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1453193695,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kQ6vSOWTlXYov/subscriptions"
          }
        }
  recorded_at: Tue, 19 Jan 2016 08:54:56 GMT
recorded_with: VCR 3.0.0
