---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=12&card[exp_year]=2020&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_zQGPrRr1mLOGMn9kY1fHLcqH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17UvEKK6bLvHx8bUEsN3G7zs",
          "object": "token",
          "card": {
            "id": "card_17UvEKK6bLvHx8bU3vGPdNK9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "faS4loXvHw0MNPP7",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "118.160.51.34",
          "created": 1453193568,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 19 Jan 2016 08:52:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=magdalena_reinger%40roob.org&plan=base&source=tok_17UvEKK6bLvHx8bUEsN3G7zs
    headers:
      Authorization:
      - Bearer sk_test_zQGPrRr1mLOGMn9kY1fHLcqH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7kQ4hCiwksBt4w",
          "object": "customer",
          "account_balance": 0,
          "created": 1453193569,
          "currency": "usd",
          "default_source": "card_17UvEKK6bLvHx8bU3vGPdNK9",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "magdalena_reinger@roob.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17UvEKK6bLvHx8bU3vGPdNK9",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7kQ4hCiwksBt4w",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "faS4loXvHw0MNPP7",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kQ4hCiwksBt4w/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_7kQ4OUTnxMeoWW",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1455871969,
                "current_period_start": 1453193569,
                "customer": "cus_7kQ4hCiwksBt4w",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 999,
                  "created": 1453191080,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1453193569,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kQ4hCiwksBt4w/subscriptions"
          }
        }
  recorded_at: Tue, 19 Jan 2016 08:52:50 GMT
recorded_with: VCR 3.0.0
